:root {
  --el-color-primary: #409eff;
  --el-color-success: #67c23a;
  --el-color-warning: #e6a23c;
  --el-color-danger: #f56c6c;
  --el-color-info: #909399;

  --el-bg-color: #ffffff;
  --el-bg-color-page: #f2f3f5;
  --el-bg-color-overlay: #ffffff;

  --el-text-color-primary: #303133;
  --el-text-color-regular: #606266;
  --el-text-color-secondary: #909399;
  --el-text-color-placeholder: #c0c4cc;

  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f5fc;
}

html.dark {
  --el-color-primary: #409eff;
  --el-color-success: #67c23a;
  --el-color-warning: #e6a23c;
  --el-color-danger: #f56c6c;
  --el-color-info: #909399;

  --el-bg-color: #141414;
  --el-bg-color-page: #0a0a0a;
  --el-bg-color-overlay: #1d1d1d;

  --el-text-color-primary: #e5e5e5;
  --el-text-color-regular: #cfcfcf;
  --el-text-color-secondary: #a3a3a3;
  --el-text-color-placeholder: #8d8d8d;

  --el-border-color: #4c4c4c;
  --el-border-color-light: #5b5b5b;
  --el-border-color-lighter: #363636;
  --el-border-color-extra-light: #2b2b2b;
}

html.dark .el-card {
  background-color: #2c2c2c;
  border-color: var(--el-border-color-darker);
  color: var(--el-text-color-primary-dark);
}

html.dark .el-card__header {
  border-bottom-color: var(--el-border-color-darker);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--el-bg-color-page);
  color: var(--el-text-color-primary);
}

#app {
  height: 100%;
}

.main-container {
  height: calc(100% - 60px);
}

.footer-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}